@use '../../mixins.scss' as *;

.title-container__img {
  flex: 50%;

  @include breakpoint('tablet') {
    margin-right: -14px;
  }

  @include breakpoint('desktop') {
    margin-right: -22px;
  }

  img {
    width: 55%;
    margin-inline: auto;
    margin-bottom: 3.5rem;

    @include breakpoint('tablet') {
      width: 100%;
      padding-left: 3.94rem;
      margin-bottom: 0;
    }

    @include breakpoint('desktop') {
      padding-left: 5.94rem;
    }
  }
}
